global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'auth-service'
    static_configs:
      - targets: ['auth-service:80']

  - job_name: 'orders-service'
    static_configs:
      - targets: ['orders-service:80']

  - job_name: 'warehouse-service'
    static_configs:
      - targets: ['warehouse-service:80']

  - job_name: 'tracking-service'
    static_configs:
      - targets: ['tracking-service:80']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
