name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [auth_service, orders_service, warehouse_service, tracking_service, gateway_service]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build service (no push)
      uses: docker/build-push-action@v4
      with:
        context: ./${{ matrix.service }}
        push: false
        tags: test/${{ matrix.service }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
    - uses: actions/checkout@v3

    - name: Fake deploy step
      run: echo "Deploy successful"
